*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

$bg : #2F2E33 ;
$color : #3A5199 ;
$second : #D5D6D2 ;

p{
    color: $second;
}
body{
    background: $bg;
}
.main{
    padding: 0 12%;
    padding-top: 30px;
    width: 100vw;
    height: 100vh;
    @media screen and (max-width:1000px) {
        padding: 0 10%;
        padding-top: 30px;
    }
    @media screen and (max-width:900px) {
        padding: 0 7%;
        padding-top: 30px;
    }

    .main-header{  // HEADER A COPIER
        height: 55px;
        display: flex;
        justify-content: space-between;
        padding-top: 7px;
        img{
            height: 50px;
        }
        .navigation{
            display: flex;
            align-items: center;
            @media screen and (max-width:900px) {
                display: none;
            }
            ul{
                display: flex;
                padding-top: 20px;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        padding: 7px 10px;
                        color: $second;
                        display: flex;
                        align-items: center;
                        margin: 0 5px;
                        &:hover{
                            background: $color;
                            border-radius: 8px;
                        }
                    }
                    .active{
                        text-decoration: none;
                        border: 3px solid $color;
                        border-radius: 8px;
                    }
                }
            }
        }
        .boutton{ 
            display: flex;
            align-items: center;
            .engager{
                display: flex;
                align-items: center;
                b{
                    @media screen and (max-width:400px) {
                        display: none;
                    }
                }
                span{
                    display: none;
                    @media screen and (max-width:400px) {
                        display: flex;
                        font-size: 23px;
                    }
                }
            }
            .responsive{
                display: none;
                @media screen and (max-width:900px) {
                    display: flex;
                }
                .modal{
                    .modal-dialog , .modal-content{
                        background: $bg;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .navigation{
                    display: flex;
                    align-items: center;
                    ul{
                        display: flex;
                        
                        li{
                            list-style: none;
                            a{
                                text-decoration: none;
                                padding: 7px 10px;
                                color: $second;
                                display: flex;
                                align-items: center;
                                margin: 0 5px;
                                @media screen and (max-width:400px) {
                                    font-size: 10px;
                                }
                                &:hover{
                                    background: $color;
                                    border-radius: 8px;
                                }
                            }
                            .active{
                                text-decoration: none;
                                border: 3px solid $color;
                                border-radius: 8px;
                            }
                        }
                    }
                }
            }
        }
    }

    .main-body{
        display: flex;
        padding-top: 30px;
        justify-content: space-between;
        @media screen and (max-width:800px) {
            justify-content: center;
        }
        @media screen and (max-width:400px) {
            padding-top: 10px;
        }
        .body-side{
            width: 50%;
            display: flex;
            align-items: center;
            height: 80vh;
            @media screen and (max-width:800px) {
                width: 400px;
            }
            @media screen and (max-width:400px) {
                width: 100%;
            }
            
            .profil-name{
                color: $second;
                span{
                    font-weight: bold;
                    font-size: 70px;
                    animation: Animation1 infinite 3s;
                    @media screen and (max-width:400px) {
                        font-size: 50px;
                    }
                }
                hr{
                    color: $color;
                }
                .profil-lien{
                    padding: 8px;
                    padding-top: 16px;
                    @media screen and (max-width:400px) {
                        display : none;
                    }
                    a{
                        margin: 0 8px;
                        color: $second;
                        text-decoration: none;
                    }
                    i{
                        font-size: 25px;
                        &:hover{
                            transform: scale(1.4);
                            transition: 1s;
                        }
                    }
                }
            }
        }
        .body-pic{
            width: 50%;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width:800px) {
                display: none;
            }
            img{
                width: 400px;
                height: 400px;
                border-radius: 100%;
                box-shadow: 5px 5px 15px $second , -5px -5px 15px $second;
                object-fit: cover;
                animation: Animation2 2s;
                @media screen and (max-width:1000px) {
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }
}

@keyframes Animation1{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes Animation2{
    from{
        transform: scale(1.2);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
